@font-face {
  font-family: 'Dinpro Regular';
  src: local('Dinpro Regular'), url(../fonts/dinpro/DINPro-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Dinpro Black';
  src: local('Dinpro Black'), url(../fonts/dinpro/DINPro-Black.woff) format('woff');
}

@font-face {
  font-family: 'Dinpro Bold';
  src: local('Dinpro Bold'), url(../fonts/dinpro/DINPro-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Dinpro Light';
  src: local('Dinpro Light'), url(../fonts/dinpro/DINPro-Light.woff) format('woff');
}

@font-face {
  font-family: 'Dinpro Medium';
  src: local('Dinpro Medium'), url(../fonts/dinpro/DINPro-Medium.woff) format('woff');
}